<h1>Health App</h1>

<form class="create-form">
    <h2>Member:</h2>
    First Name: <br>
    <input type="text" id="firstname" name="firstname" placeholder="First Name"><br>
    Last name:<br>
    <input type="text" id="lastname" name="lastname" placeholder="Last Name"><br>

    <h3>Run Information:</h3>
    Run Date: Format <br>
    <input type="date" id="date" name="date"><br>
    Total Miles:<br>
    <input type="number" id="miles" name="miles" placeholder="Miles"><br>
    Total Minutes:<br>
    <input type="number" id="minutes" name="minutes" placeholder="Minutes"><br>
    
    <h3>Nutrition Information:</h3>
    Total calories today:<br>
    <input type="number" id="calories" name="calories" placeholder="calories"><br>

    <input id="submit" type="submit"><br>

</form>

<hr>

<table>
  <tr>
    <th>Run Date</th> 
    <th>Total Miles</th>
    <th>Total Minutes</th>
    <th>Total Calories</th>
    <th>Delete</th>

  </tr>
    {{#each health}}
        <tr>
            <td>{{this.run_date}}</td> 
            <td>{{this.total_miles}} </td>
            <td>{{this.total_min}} </td>
            <td>{{this.calorie_intake}} </td>
            <td><button data-id="{{this.event_id}}" class="delEntry">Delete Entry</button></td>
        </tr>
    {{/each}}
</table>






{{!-- <hr>

<div>
    <button>Average Calories</button>

    <button>Fastest Run</button>
    <button>Fastest 5 Runs</button>

    <button>Slowest Run</button>
    <button>Slowest 5 Runs</button>
</div> --}}
    