<h1>Run Averages</h1>

<ol>
    {{#each health}}
    <li> 
        <p>{{this.run_date}}</p> 
        <p>{{this.mile_per_hour}} miles/hour</p> 
        <p>{{this.total_miles}} miles</p> 
        <p>{{this.total_min}} minutes</p> 
        <p>{{this.calorie_intake}} calories</p> 
    </li>
    {{/each}}
</ol>

    <a href="/"><button class="home">Home</button></a>





