<h1>Run Averages</h1>

<ol>
    {{#each health}}
    <li> 
        <p>Date: {{this.run_date}}</p> 
        <p>Total Miles: {{this.total_miles}}</p> 
        <p>Total Minute: {{this.total_min}}</p> 
        <p>Total Calories: {{this.calorie_intake}}</p> 
        <p>Miles per Hour: {{this.mile_per_hour}}</p> 
    </li>
    {{/each}}
</ol>

    <a href="/"><button class="home">Home</button></a>





